*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2 linear;
    font-family: "Montserrat", sans-serif;
}


section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: var(--bg);
    border-bottom: var(--border);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navBar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: beige;
}

.navBar a:hover {
    color: #A6FFF5;
    border-bottom: 0.1rem solid var(--ciano);
    padding: 0.5rem;
    font-size: 2rem;
}
:root {
    --main-color: #fff;
    --black: #13131a;
    --bg: #0C005D;
    --btn:#0C005D;
    --ciano: #A6FFF5;
    --border: 0.1rem solid rgba(0, 0, 0, 0.3);
    font-size: 10px;
}
body {
    margin: 0;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/fundo.avif'); 
    background-size: cover;          
    background-position: center;     
    background-repeat: no-repeat;     
    background-attachment: fixed;    
    font-family: "Montserrat", sans-serif;
}

#img_fundo {
    display: none; 
}


#img_fundo{
     display: flex;
    flex-direction: column;
    align-items: center;
}

#div_form {
    border: 2px solid black;
    width: 700px;
    padding: 50px 30px;
    background-color:  #ddeddd;
    border-radius: 20px;
    text-align: center;
}

.linha {
    display: flex;
    align-items: center;
    gap: 25px;
}

.titulo_campo {
    width: 220px;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    padding-top: 6px;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

input {
    width: 430px;
    height: 38px;
    border: 2px solid black;
    border-radius: 0;
    font-size: 20px;
    padding: 4px 10px;
    box-sizing: border-box;
}

button {
    margin-top: 15px;
    width: 200px;
    height: 52px;
    border: none;
    background-color: #0C005D;
    color: white;
    font-size: 22px;
    border-radius: 10px;
}


#msg_email,
#msg_senha {
    margin-top: 6px;
    font-size: 16px;
    font-weight: bold;
}

.certo {
    color: green;
    font-weight: bold;
    font-size: 16px;
    margin-top: 8px;
}

.erro {
    color: red;
    font-weight: bold;
    font-size: 16px;
    margin-top: 8px;
}
#msg {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: green;
    margin-top: 25px;
}

#btn_login {
    color: #0C005D;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.titu{
    Color:  #0C005D;
    font-size: 50px;
    font-weight: bold;

}